.cadastroContainer {
    width: 100%;
    height: 250px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 10px;
}

.cadastroContainer input {
    width: 200px;
    height: 25px;
    border-radius: 5px;
    padding: 3px;
    border: 1px solid #000000;

}

.cadastroContainer  button{
    width: 200px;
    height: 30px;
    border-radius: 5px;
    border: none;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}  
