@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 300px;
    height: 300px;
    margin: 10% auto;
}

.container h2 {
    color: white;
    font-size: 24px;
    margin-bottom: 20px;
}


.recSenha {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 12px;
    color: rgb(28, 28, 182);
    font-family: 'Nunito', sans-serif;
}
.barr {
    background-color: white;
    height: 1px;
    width: 80%;
    margin: 10px;
}
samp {
    color: gray;
    font-size: 8px;
    font-family: 'Nunito', sans-serif;
}

samp a {
    color: rgb(109, 84, 156);
    text-decoration: none;
    font-size: 10px;
      font-family: 'Nunito', sans-serif;
}