.authentication-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-top: 10%;

    width: 300px;
    height: auto;
}

h1 {
    color: white;
    font-size: 24px;
}

span a {
    color: rgb(109, 84, 156);
    text-decoration: none;
    font-size: 10px;
    font-family: 'Nunito', sans-serif;
}