.LoginContainer {
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 10px;
}

.LoginContainer input {
    width: 200px;
    height: 25px;
    border-radius: 5px;
    padding: 3px;
    border: 1px solid #000000;

}

.button {
    width: 120px;
    height: 25px;
    border-radius: 5px;
    border: none;
    background: rgb(17, 82, 202);
    font-size: 16px;
    color: white;
    margin: 5px;
}

.button:hover {
    cursor: pointer;
    background: rgb(20, 17, 202);
}

.erro {
    color: rgb(133, 0, 0);
    animation: fade 3s forwards;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        display: none;
    }
}